{% set epel = salt['grains.filter_by'] (
  {
    'RedHat': {
      'repo': {
        'source': 'https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm'
      }
    },
    'Debian': {
    },
  }
)
%}
