{% set uwsgi = salt['grains.filter_by'] (
  {
    'RedHat': {
      'ini': {
        'name'   : '/home/ec2-user/uwsgi.ini',
        'source' : 'salt://uwsgi/uwsgi.ini',
        'user'   : 'ec2-user',
        'group'  : 'ec2-user',
        'mode'   : 0640,
      }
    }
  }, merge=salt['pillar.get']('uwsgi')
)
%}
