{% set rabbitmq = salt['grains.filter_by']({
    'RedHat': {
      'user'  : 'rabbitmq',
      'group' : 'rabbitmq',
      'pkg' : {
        'name'    : 'rabbitmq-server',
        'repo'    : None,
        'version' : None,
      },
      'service' : {
        'name'    : 'rabbitmq-server',
        'enabled' : True,
      },
      'management' : {
        'enabled' : True,
        'listener' : {
          'port' : 15672,
          'ip'   : '127.0.0.1',
          'ssl'  : False,
        },
      },
      'service'               : 'rabbitmq-server',
      'home'              : '/usr/local',
      'limits'            : {
        'name'    : '/etc/security/limits.d/99-rabbitmq.conf',
        'source'  : 'salt://rabbitmq/99-rabbitmq.conf',
        'mode'    : 644,
        'fsize'   : 'unlimited',
        'cpu'     : 'unlimited',
        'rss'     : 'unlimited',
        'as'      : 'unlimited',
        'memlock' : 'unlimited',
        'nofile'  : 3072,
        'nproc'   : 1024,
      },
      'config'            : {
        'name'   : '/etc/rabbitmq/rabbitmq.config',
        'source' : None,
        'home' : {
          'name' : '/etc/rabbitmq',
          'mode' : 755,
        },
        'tcp_listeners' : [5672],
        'ssl_listeners' : [],
        'ssl_options'   : {
          'cacertfile'           : '/etc/pki/tls/certs/ca-bundle.crt',
          'certfile'             : '/etc/pki/tls/certs/server.crt',
          'keyfile'              : '/etc/pki/tls/private/server.key',
          'versions'             : ['tlsv1.2', 'tlsv1.1'],
          'verify'               : 'verify_peer',
          'fail_if_no_peer_cert' : False,
        },
        'ciphers' : ['{ecdhe_ecdsa,aes_128_cbc,sha256}','{ecdhe_ecdsa,aes_256_cbc,sha}'],
        'vm_memory' : {
          'high_watermark'              : 1,
          'high_watermark_paging_ratio' : 0.5,
        },
        'disk_free_limit' : 500000000,
        'log_levels'      : ['connection', 'info'],
        'frame_max'       : 131072,
        'channel_max'     : 0,
        'heartbeat'       : 80,
        'default' : {
          'vhost'       : '/', 
          'user'        : 'guest',
          'pass'        : 'guest',
          'user_tags'   : ['administrator'],
          'permissions' : ['.*','.*','.*'],
        },
        'loopback_users'              : [],
        'cluster_nodes'               : [],
        'server_properties'           : [],
        'collect_statistics'          : 'none',
        'collect_statistics_interval' : 5000,
        'auth' : {
          'mechanisms' : ['PLAIN','AMQPLAIN'],
          'backends'   : ['rabbit_auth_backend_internal'],
        },
        'reverse_dns_lookups' : False,
        'delegate_count'      : 16,
        'trace_vhosts'        : [],
        'tcp_listen_options' : [
          'binary',
          '{packet, raw}',
          '{reuseaddr, true}',
          '{backlog, 128}',
          '{nodelay, true}',
          '{exit_on_close, false}',
        ],
        'hipe_compile'                    : True,
        'cluster_partition_handling'      : 'pause_minority',
        'msg_store_index_module'          : 'rabbit_msg_store_ets_index',
        'backing_queue_module'            : 'rabbit_variable_queue',
        'msg_store_file_size_limit'       : 16777216,
        'queue_index_max_journal_entries' : 65536,
      },
      'env_config' : {
        'name'         : '/etc/rabbitmq/rabbitmq-env.conf',
        'source'       : None,
        'node_port'    : 5672,
        'dist_port'    : 25672,
        'use_longname' : False,
        'mnesia_base'  : '/var/lib/rabbitmq/mnesia',
        'use_ssl'      : False,
        'erl_ssl_path' : '/usr/lib64/erlang/lib/ssl-8.1/ebin',
        'proto_dist'   : 'inet_tls', 
        'mnesia_base'  : '/var/lib/rabbitmq/mnesia',
        'server' : {
          'certfile'           : '/etc/pki/tls/private/rabbit.pem',
          'secure_renegotiate' : True,
        },
        'client' : {
          'secure_renegotiate' : True,
        },
      },
      'logdir'            : '/var/log/rabbitmq',
      'logdir_mode'       : 755,
      'cookie' : {
        'name'   : '/var/lib/rabbitmq/.erlang.cookie',
        'source' : 'salt://rabbitmq/erlang.cookie.jinja',
        'mode'   : 400,
        'value'  : 'CHANGEME',
      },
      'plugins'           : '/etc/rabbitmq/enabled_plugins',
      'plugins_source'    : 'salt://rabbitmq/enabled_plugins',
      'cluster' : {
        'members'  : [],
      },
      'mochiweb' : {
        'login'    : 'guest',
        'password' : 'guest',
      },
      'iptables' : {
        'enabled' : False,
      },
      'users' : None,
    },
}, merge=salt['pillar.get']('rabbitmq')) %}

