[
  {rabbit, [
    {tcp_listeners, [{{config.tcp_listeners|join(',')}}]},
    {ssl_listeners, [{{config.ssl_listeners|join(',')}}]},
{%- if config.ssl_listeners %}
    {ssl_options, [{cacertfile,"{{config.ssl_options.cacertfile}}"},
                  {certfile,"{{config.ssl_options.certfile}}"},
                  {keyfile,"{{config.ssl_options.keyfile}}"},
                  {versions, [{%if config.ssl_options.versions%}'{{config.ssl_options.versions|join('\', \'')}}'{%endif%}]},
                  {verify,{{config.ssl_options.verify}}},
                  {fail_if_no_peer_cert,{%if config.ssl_options.fail_if_no_peer_cert%}true{%else%}false{%endif%}}]},
{%- else %}
    {ssl_options, []},
{%- endif %}
    {ciphers, [{{config.ciphers|join(',')}}]},
    {vm_memory_high_watermark, {{config.vm_memory.high_watermark}}},
    {vm_memory_high_watermark_paging_ratio, {{config.vm_memory.high_watermark_paging_ratio}}},
    {disk_free_limit, {{config.disk_free_limit}}},
    {log_levels, [{%raw%}{{%endraw%}{{config.log_levels|join(', ')}}{%raw%}}{%endraw%}]},
    {frame_max, {{config.frame_max}}},
    {channel_max, {{config.channel_max}}},
    {heartbeat, {{config.heartbeat}}},
    {default_vhost, <<"{{config.default.vhost}}">>},
    {default_user, <<"{{config.default.user}}">>},
    {default_pass, <<"{{config.default.pass}}">>},
    {default_user_tags, [{{config.default.user_tags|join(',')}}]},
    {default_permissions, [<<"{{config.default.permissions[0]}}">>, <<"{{config.default.permissions[1]}}">>, <<"{{config.default.permissions[2]}}">>]},
    {loopback_users, [{{config.loopback_users|join(',')}}]},
    {cluster_nodes, {[{{config.cluster_nodes|join(',')}}], disc}},
    {server_properties, [{{config.server_properties|join(',')}}]},
    {collect_statistics, {{config.collect_statistics}}},
    {collect_statistics_interval, {{config.collect_statistics_interval}}},
    {auth_mechanisms, [{%if config.auth.mechanisms%}'{{config.auth.mechanisms|join('\', \'')}}'{%endif%}]},
    {auth_backends, [{{config.auth.backends|join(',')}}]},
    {reverse_dns_lookups, {%if config.reverse_dns_lookups%}true{%else%}false{%endif%}},
    {delegate_count, {{config.delegate_count}}},
    {trace_vhosts, [{{config.trace_vhosts|join(',')}}]},
    {tcp_listen_options, [{{config.tcp_listen_options|join(', ')}}]},
    {hipe_compile, {%if config.hipe_compile%}true{%else%}false{%endif%}},
    {cluster_partition_handling, {{config.cluster_partition_handling}}},
    {msg_store_index_module, {{config.msg_store_index_module}}},
    {backing_queue_module, {{config.backing_queue_module}}},
    {msg_store_file_size_limit, {{config.msg_store_file_size_limit}}},
    {queue_index_max_journal_entries, {{config.queue_index_max_journal_entries}}}
]},
{rabbitmq_management,
  [{listener, [{port,     {{listener.port}}},
               {ip,      "{{listener.ip}}"},
               {ssl,      {%if listener.ssl%}true{%else%}false{%endif%}}]}
  ]}
].
